# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app
*.exe
bin/
bin/*

# Logs
logs/
*.log


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# IDE files
*.sln
.idea

# Build Tools
build/
build/*

# Text files
doc/
.doc/*
*.txt

# Tools files
tools/
.tools/
